// Layouts
// 250Points
// Oops, we forgot to include a layout file.
// We've started one below. Finish it out by including the body of the template inside of the <body> tag. Remember to use the <%- tag so the template contents are not escaped.

<!DOCTYPE html>
<html>
  <head>
    <title>Quotes</title>
  </head>
  <body>
	<%- body %>
  </body>
</html>
